//Variables
$nav-color: #323232;
$nav-color-hover: #ddd;
$success-color: #1ae42f;
$danger-color: #ff4122;
$my-color: #e8e337;
$border-color: #191919;
$font-color-primary: #f2f2f2;
$font-color-secondary: #323232;
$background-color-primary: #FB9BAC;
$background-color-secondary: #D0D6B5;
$background-color-tertiary: #4ADEDE;
$background-color-landscape: #FBA01D;


$padding: 10px;
$font-size: 1.6rem